/* Media query for less than 1200px and greater than 900px */
@media screen and (min-width:900px) and (max-width:1200px) {
    /* Header Properties */
    h1 {
        font-size: 20px;
    }

    /* Nav Bar Properties */
    nav li a {
        width: 55px;
        font-size: 14px;
    }

    /* Main Section Properties */
    #mainArea h1 {
        font-size: 25px;
    }

    #mainArea p {
        font-size: 16px;
    }

    /* Products Page Properties */
    .product {
        width: 95%;
        height: 95%;
    }

    .product img {
        height: 120px;
        width: 160px;
    }

    .pName {
        font-size: 16px;
    }

    .pPrice {
        font-size: 15px;
    }

    /* Review Page Properties */
    #reviewSlider {
        padding: 20px 0;
        overflow: hidden;
    }

    .reviewInfo i{
        font-size: 40px;
        text-overflow: clip;
    }


    /* Footer Properties */
    footer h2 {
        font-size: 16px;
    }

    #time {
        font-size: 16px;
    }

    footer ul {
        font-size: 11px;
    }

    .appLogo img {
        height: 35px;
        width: 100px;
    }

    .column1 {
        text-wrap: pretty;
    }
}

/* Media query for less than 900px and greater than 750px */
@media screen and (min-width:750px) and (max-width:900px) {
    /* Header Properties */
    h1 {
        font-size: 15px;
    }

    /* Nav Bar Properties */
    nav li a {
        width: 40px;
        font-size: 12px;
        padding: 10px 14px;
    }

    /* Main Section Properties */
    #mainArea h1 {
        font-size: 22px;
    }

    #mainArea p {
        font-size: 14px;
    }

    /* Products Page Properties */
    .product {
        width: 90%;
        height: 90%;
    }

    .product img {
        height: 100px;
        width: 130px;
    }

    .pName {
        font-size: 16px;
    }

    .pPrice {
        font-size: 15px;
    }

    /* Review Page Properties */
    #reviewSlider {
        padding: 20px 0;
        overflow: hidden;
    }

    #reviewSlider .reviewName {
        font-size: 1rem;
    }

    #reviewSlider .productName {
        font-size: 1rem;
    }
    
    .reviewInfo i{
        font-size: 35px;
        text-overflow: clip;
    }

    .reviewStars {
        font-size: 18px
    }

    /* Footer Properties */
    footer h2 {
        font-size: 14px;
    }

    #time {
        font-size: 14px;
    }

    footer ul {
        font-size: 10px;
    }

    .appLogo img {
        height: 30px;
        width: 80px;
    }

    .column3 ul li p {
        display: none;
    }

    .socialLinks {
        font-size: 1.1rem;
    }
}

/* Media query for less than 750px */
@media screen and (max-width:750px) {
    /* Header Properties */
    h1 {
        font-size: 18px;
    }

    /* Nav Bar Properties */
    nav li a {
        width: 45px;
        font-size: 11px;
        padding: 2px 3px;
    }

    #navLinks {
        display: none;
    }

    #navIconLinks {
        display: block;
    }

    /* Main Section Properties */
    #mainArea h1 {
        font-size: 20px;
    }

    #mainArea p {
        font-size: 13px;
    }

    /* Products Page Properties */
    .product {
        width: 95%;
        height: 95%;
    }

    .product img {
        height: 100px;
        width: 130px;
    }

    .pName {
        font-size: 16px;
    }

    .pPrice {
        font-size: 15px;
    }

    /* Review Page Properties */
    #reviewSlider {
        padding: 30px 0;
        overflow: hidden;
    }

    #reviewSlider .reviewName {
        font-size: 0.9rem;
    }

    #reviewSlider .productName {
        font-size: 0.9rem;
    }
    
    .reviewInfo i{
        font-size: 30px;
        text-overflow: clip;
    }

    .reviewStars {
        font-size: 18px
    }

    /* Footer Properties */
    footer h2 {
        font-size: 14px;
    }

    #time {
        font-size: 14px;
    }

    footer ul {
        font-size: 10px;
    }

    .appLogo img {
        height: 30px;
        width: 65px;
    }

    .column3 ul li p {
        display: none;
    }

    .socialLinks {
        font-size: 15px;
    }

    #cookieBanner {
        height: 10px;
    }

    #cookieBanner p {
        font-size: 12px;
    }
}

/* media query for less than 450px */
@media screen and (max-width: 450px) {
    /* Header Properties */
    h1 {
        font-size: 14px;
    }

    #banner {
        flex-basis: 40%; 
    }

    /* Nav Bar Properties */
    nav {
        flex-basis: 60%;
    }

    nav li a {
        width: 45px;
        font-size: 9px;
        padding: 2px 0;
        margin: 0 -5px;
    }

    /* Products Page Properties */
    #productsArea {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .product {
        width: 90%;
        height: 90%;
    }

    .product img {
        height: 90px;
        width: 120px;
    }

    /* Form Properties */
    input[type="text"], input[type="password"] {
        width: 70%;
    }

    input[type="submit"] {
        width: 30%;
    }

    /* Review Page Properties */
    #reviewSlider {
        padding: 30px 0;
        overflow: hidden;
    }

    #reviewSlider button {
        margin: 0 5px;
    }

    #reviewSlider .reviewName {
        font-size: 0.7rem;
    }

    #reviewSlider .productName {
        font-size: 0.7rem;
    }

    #reviewSlider p {
        font-size: 0.7rem;
    }
    
    #reviewArea {
        width: 85%;
        padding: 0;
    }

    .reviewInfo i{
        font-size: 35px;
    }

    .reviewStars {
        font-size: 16px;
        padding: 0 5px;
    }

    /* Footer Properties */
    footer h2 {
        font-size: 10px;
    }

    #time {
        font-size: 10px;
    }

    footer ul {
        font-size: 7px;
    }

    .appLogo img {
        height: 25px;
        width: 55px;
        margin: 0;
        padding-top: 3px;
    }

    .column3 ul li p {
        display: none;
    }

    .socialLinks {
        font-size: 8px;
        flex-direction: column;
    }

    .in, .tw, .yt, .fb, .sc {
        margin-bottom: 5px;
    }
}