/* Media query for less than 1200px */
@media screen and (min-width:900px) and (max-width:1200px) {

    /* Header Properties */
    h1 {
        font-size: 20px;
    }

    /* Nav Bar Properties */
    nav li a {
        width: 55px;
        font-size: 14px;
    }

    /* Main Section Properties */
    #mainArea h1 {
        font-size: 25px;
    }

    #mainArea p {
        font-size: 16px;
    }

    /* Products Page Properties */
    .product {
        width: 95%;
        height: 95%;
    }

    .product img {
        height: 120px;
        width: 160px;
    }

    .pName {
        font-size: 16px;
    }

    .pPrice {
        font-size: 15px;
    }

    /* Footer Properties */
    footer h2 {
        font-size: 16px;
    }

    #time {
        font-size: 16px;
    }

    footer ul {
        font-size: 11px;
    }

    .appLogo img {
        height: 35px;
        width: 100px;
    }

    .column1 {
        text-wrap: pretty;
    }
}

/* Media query for less than 900px */
@media screen and (min-width:750px) and (max-width:900px) {

    /* Header Properties */
    h1 {
        font-size: 15px;
    }

    /* Nav Bar Properties */
    nav li a {
        width: 40px;
        font-size: 12px;
        padding: 10px 14px;
    }

    /* Main Section Properties */
    #mainArea h1 {
        font-size: 22px;
    }

    #mainArea p {
        font-size: 14px;
    }

    /* Products Page Properties */
    .product {
        width: 90%;
        height: 90%;
    }

    .product img {
        height: 100px;
        width: 130px;
    }

    .pName {
        font-size: 16px;
    }

    .pPrice {
        font-size: 15px;
    }

    /* Footer Properties */
    footer h2 {
        font-size: 14px;
    }

    #time {
        font-size: 14px;
    }

    footer ul {
        font-size: 10px;
    }

    .appLogo img {
        height: 30px;
        width: 80px;
    }
}

/* Media query for less than 750px */
@media screen and (min-width:600px) and (max-width:750px) {
    
    /* Header Properties */
    h1 {
        font-size: 26px;
    }

    /* Nav Bar Properties */
    nav li a {
        width: 45px;
        font-size: 11px;
    }

    /* Main Section Properties */
    #mainArea h1 {
        font-size: 20px;
    }

    #mainArea p {
        font-size: 13px;
    }

    /* Products Page Properties */
    .product {
        width: 95%;
        height: 95%;
    }

    .product img {
        height: 100px;
        width: 130px;
    }

    .pName {
        font-size: 16px;
    }

    .pPrice {
        font-size: 15px;
    }

    /* Footer Properties */
    footer h2 {
        font-size: 14px;
    }

    #time {
        font-size: 14px;
    }

    footer ul {
        font-size: 10px;
    }

    .appLogo img {
        height: 30px;
        width: 80px;
    }
}