* {
    margin: 0;
    padding: 0;
    font-family: monospace, Arial, Helvetica, sans-serif;
}

html {
    min-height: 100%;
    background: linear-gradient( 135deg,
        #2c3e50,
        #9c9c9c
    );
}

html::-webkit-scrollbar {
    width: 0;
}

html::-webkit-scrollbar-thumb {
    background-color: transparent;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

body {
    color: #2c2c2c;
    margin: auto;
    width: 80%;
}

/* Text Properties */
h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    text-wrap: pretty;
}

p {
    text-align: left;
    font-size: 15px;
    margin: 15px 0;
}

/* Header Properties */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
    height: 50px;
    border-radius: 5px;
}

#banner {
    margin: 10px 0;
    height: 50px;
}

#navbarHeader {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    border-bottom: 0.5px #000 solid;
    border-left: 0.5px #000 solid;
    border-right: 0.5px #000 solid;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

/* Nav Bar Properties */
nav {
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #2c2c2c;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
    height: 100%;
    width: 90px;
}

nav li a:hover {
    font-weight: bold;
}

.active::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 50%;
    margin: auto;
}

#navIconLinks {
    display: none;
}

/* Main Section Properties */
main {
    padding: 10px;
    margin-top: 80px;
    height: 100%;
    min-height: 300px;
    border-radius: 5px;
    background-color: #fff;
    border: 0.5px #000 solid;
}

#mainArea {
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
}

#mainArea h1 {
    margin-top: -15px;
    font-size: 30px;
}

#mainArea p {
    text-align: center;
    font-size: 18px;
}

#mainArea a {
    text-decoration: none;
    color: #1da1f2;
}

#mainArea a:hover {
    text-decoration: underline;
}

/* Products Page Properties */
#productsArea {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-content: space-around;
    margin-top: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px #b6b6b6 solid;
    min-width: 250px;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
}

.product:hover {
    border: 1px #009dff solid;
}

.product img {
    height: 150px;
    width: 200px;
}

#mainArea .product p {
    margin: 3px 0;
    max-width: 200px;
    font-size: 14px;
}

.pName {
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
}

.pPrice {
    color: #24f324;
    font-weight: 400;
    font-size: 16px;
    padding-top: 10px;
}

.pDescription {
    font-weight: 400;
    font-size: 14px;
    padding-top: 10px;
}

/* Form Properties */
.formGroup {
    position: relative;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"], input[type="password"] {
    width: 45%;
    padding: 10px;
    border: 0.5px #000 solid;
    border-radius: 5px;
    text-align: center;
}

input[type="submit"] {
    background-color: #11c6fd;
    cursor: pointer;
    width: 20%;
    border: 0.5px #000 solid;
    border-radius: 5px;
    padding: 10px;
}

input[type="submit"]:hover {
    background-color: #87f7ff;
}

/* About Page Properties */
#history {
    padding: 10px;
    border: 0.5px #000 solid;
    border-radius: 5px;
    max-height: 170px;
    overflow: auto;
    overflow-x: hidden;
}

#history::-webkit-scrollbar {
    width: 10px;
}

#history::-webkit-scrollbar-thumb {
    background-color: #979797;
    border-left: 0.5px #000 solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#history::-webkit-scrollbar-track {
    background-color: #dfdfdf;
    border-left: 0.5px #000 solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#history p {
    margin-top: -5px;
    text-align: left;
}

/* Review Page Properties */
#reviewSlider {
    padding: 10px;
    border: 0.5px #000 solid;
    border-radius: 5px;
    max-height: 170px;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    align-items: center;
}

#reviewSlider button {
    cursor: pointer;
    width: 20%;
    border-radius: 50%;
    padding: 10px;
    margin: 0 25px;
    max-height: 50px;
    max-width: 40px;
}

#reviewSlider button:hover {
    background-color: #b4b4b4;
}

#reviewSlider p {
    text-align: left;
}

#reviewSlider .reviewName {
    font-weight: bold;
    font-size: 1.25rem;
    padding-right: 10px;
}

#reviewSlider .productName {
    font-style: italic;
    font-size: 1.25rem;
}

#reviewArea {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.review {
    padding: 0 50px;
}

.reviewInfo {
    display: flex;
}

.reviewInfo i {
    font-size: 45px;
    margin: 5px 0;
    padding-right: 10px;
}

.reviewStars {
    font-size: 20px;
}

/* Footer Properties */
footer {
    margin: 10px 0 45px 0;
    padding: 10px;
    clear: both;
    height: 100px;
    border-radius: 5px;
    text-wrap: pretty;
    background-color: #fff;
    border: 0.5px #000 solid;
    display: flex;
    justify-content: space-around;
}

footer h2 {
    font-size: 22px;
    text-align: center;
    padding-bottom: 10px;
}

footer ul {
    list-style: none;
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
}

.appLogo img {
    height: 40px;
    width: 125px;
    cursor: pointer;
    margin-top: 10px;
}

.column1 {
    float: left;
    text-align: center;
    flex-basis: 40%;
}

.column2 {
    float: left;
    flex-basis: 20%;
}

#time {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 10px;
}

.column3 {
    flex-basis: 40%;
}

.column3 ul li p {
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
}

.column3 ul li:hover {
    cursor: pointer;
}

.socialLinks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialLinks li {
    padding: 0 10px;
}

.in, .tw, .yt, .fb, .sc {
    display: flex;
    flex-direction: column;
}

.in p:hover {
    color: #ae0eee;
}

.tw p:hover {
    color: #1da1f2;
}

.yt p:hover {
    color: #ff0000;
}

.fb p:hover {
    color: #003db8;
}

.sc p:hover {
    color: #e9e506;
}

/* Cookie Banner Properties */
#cookieBanner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px #000 solid;
    height: 15px;
}

#cookieBanner a {
    text-decoration: none;
    color: #1da1f2;
}

#cookieBanner a:hover {
    text-decoration: underline;
}

#closeBanner {
    position: absolute;
    right: 10px;
    cursor: pointer;
}